@tailwind base;
@tailwind components;
@tailwind utilities;

/* Zera margin e padding */
body, html {
    margin: 0;
    padding: 0;
    background-color: #504737; /* se quiser já deixar a cor do fundo */
  }
